services:
  backend:
    build:
      context: ..                 
      dockerfile: docker/dsss/Dockerfile
    ports:
      - "8000:8000"
    restart: unless-stopped

  frontend:
    build:
      context: ..                 
      dockerfile: docker/frontend/Dockerfile
    ports:
      - "5173:5173"
    restart: unless-stopped
